<!DOCTYPE html>
<html >

<head>
  <meta charset="UTF-8">
  <title>CO2 Emission Predictor</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>

 <div class="login">
  <div class="screen">
	<h1>Predict CO2 Emission of Vehicles</h1>
     <h3> Enter the following values to predict the CO2 emission from the vehicle</h3>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
    	<input type="text" name="enginesize" placeholder="Engine Size" required="required" />
        <input type="text" name="cylinders" placeholder="Cylinders" required="required" />
		<input type="text" name="fuel" placeholder="Fuel" required="required" />

        <button class="btn">
          <svg height="24" width="24" fill="#FFFFFF" viewBox="0 0 24 24" data-name="Layer 1" id="Layer_1" class="sparkle">
            <path
              d="M10,21.236,6.755,14.745.264,11.5,6.755,8.255,10,1.764l3.245,6.491L19.736,11.5l-6.491,3.245ZM18,21l1.5,3L21,21l3-1.5L21,18l-1.5-3L18,18l-3,1.5ZM19.333,4.667,20.5,7l1.167-2.333L24,3.5,21.667,2.333,20.5,0,19.333,2.333,17,3.5Z">
            </path>
          </svg>
        
          <span class="text">Predict</span>
        </button>
    </form>
    <div class="range">
      <h3 class="range-emission">Safe range: 150 to 250 kg/mi</h3>
      {{ prediction_text }}
    </div>
  </div>

 </div>


</body>
</html>